<table class="table table-dark table-sm table-striped table-hover narrow">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Leave type</th>
      <th scope="col">Number of available days</th>
    </tr>
  </thead>
  <tbody>
    <tr class="pointer" *ngFor="let leave of leaves; let i = index" (click)="openDialog(leave)">
      <th scope="row">{{i + 1}}</th>
      <td>{{leave.leaveType.name}}</td>
      <td>{{leave.quantity}}</td>
    </tr>
  </tbody>
</table>
<div *ngIf="singleLeave.startDate">
  <div>{{selectedLeave.leaveType.name}} leave from {{singleLeave.startDate}} to {{singleLeave.endDate}}</div>
  <div><button mat-raised-button color="primary" (click)="onConfirm(singleLeave)">Confirm</button></div>
</div>