mat-sidenav-container{
    height: 100%;
    width: 90%;
    margin: auto;
}
mat-sidenav{
    width: 200px;
}
/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
mat-list-item{
    cursor:pointer;
}
a.navbar-brand{
    margin:auto;
    position: relative;
    align-self: center;
    display: flex;
    text-align: center;
}
div{
    padding: 20px;
}
mat-sidenav-content{
    padding: 50px;
    height: 100%;
}