<body>
  <mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
      <a class="navbar-brand" routerLink="/">ManZaf</a>
      <div>
        <h3>Single line lists</h3>
        <mat-list>
          <mat-list-item routerLink="/own-leave" style="cursor:pointer">My leaves</mat-list-item>
          <mat-list-item routerLink="/subordinates-leave" style="cursor:pointer">My subordinates' leaves</mat-list-item>
        </mat-list>
      </div>
    </mat-drawer>
    <mat-drawer-content>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</body>