<table class="table table-sm table-striped table-hover narrow">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Last name</th>
            <th scope="col">First name</th>
            <th scope="col">Date</th>
            <th scope="col">Leave type</th>
        </tr>
    </thead>
    <tbody>
        <tr class="pointer" *ngFor="let singleLeave of singleLeaves; let i = index">
            <th scope="row">{{i + 1}}</th>
            <td>{{singleLeave.worker.lastName}}</td>
            <td>{{singleLeave.worker.firstName}}</td>
            <td>{{singleLeave.startDate}} - {{singleLeave.endDate}}</td>
            <td>{{singleLeave.leaveType.name}}</td>
        </tr>
    </tbody>
</table>